h1 {color: maroon; font-size: 60px}

p {color: Purple ; font-size: 40px}

.class1 {color: Yellow  ; width: 200px; height: 100; border: 40px solid red}

.class2 {width: 300px: height: 200px; border: 10px solid green}

